.list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}

.card {
  border: 2px solid #71a3c1;
  border-radius: 6px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
